{{> navbar}}
<link rel="stylesheet" href="/css/home.css">
<div class="col-md-12 d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <p>Este es un proyecto que manejara le entrada y salida de productos ademas de ventas y abonos.</p>
    </div>
</div>
{{> footer}}