{{> navbar}}
<link rel="stylesheet" href="/css/prueba.css">
<div class="col-md-12 d-flex justify-content-center align-items-center">
    <form class="col-md-4">
        <h2 class="form_title">Agregar Usuario</h2>

        <div class="form-container">
            <div class="form_group">
                <input type="text" id="nombres" class="form_input" placeholder="
                    ">
                <label for="name" class="form_label">Nombres</label>
                <span class="form_line"></span>
            </div>
            <div class="form_group">
                <input type="text" id="apellidos" class="form_input"
                    placeholder=" ">
                <label for="name" class="form_label">Apellidos</label>
                <span class="form_line"></span>
            </div>
            <div class="form_group">
                <input type="email" id="correo" class="form_input" placeholder="
                    ">
                <label for="name" class="form_label">Correo</label>
                <span class="form_line"></span>
            </div>
            <div class="form_group">
                <div class="password_container">
                    <input type="password" id="password" class="form_input
                        password_field" placeholder=" ">
                    <label for="password" class="form_label">Contraseña</label>
                    <span class="form_line"></span>
                </div>
                <div class="show_password_container">
                    <input type="checkbox" id="togglePassword"
                        class="toggle_password">
                    <label for="togglePassword" class="toggle_label"></label>
                </div>
            </div>
            <div class="botones">
                <button id="btnRegistrarUsuario" type="button" class="btn
                    btn-success">Registrar</button>
                <a href="/usuarios"><button type="button" class="btn
                        btn-danger">Cancelar</button></a>
            </div>
        </div>

    </form>
    <div class="col-md-3" id="mensajeU"></div>
</div>
<script src="../js/usuarios.js"></script>

{{> footer}}