<link rel="stylesheet" href="../../css/footer.css">
<footer class="footer">
    <div class="footer-content">
      <p class="footer-description">Soy Santiago y este es mi proyecto.</p>
      <p class="footer-copy">&copy; 2023 Santiago. Todos los derechos reservados.</p>
    </div>
  </footer>
  </body>
  </html>
  